/*CSS DOCUMENT*/

body {
	font-family: sans-serif;
	line-height: 1.4em;
	color: #222;
	background-color: #fafafa;
	box-sizing: border-box;
	margin-right: 1;
	}


img {
	width: 100%;
	}


div.container {
	display: flex;
	flex-wrap: wrap;
	max-width: 60em;
	margin: auto;
	padding: 1em;
	column-gap: 1em;
}


figure{
	margin: 0;
}


header {
	flex: 1 0 100%; 
} 


article {
	flex: 2 0 30em;
	margin-bottom: 2em;
}


aside {
	flex: 1 0 15em;
}


section {
	background: #eee;
	padding: 1em;
	margin-bottom: 1em;
}

section figure {
	padding-bottom: 1em;
}


section p {
	margin: 0em 0em 0.5em 0em;
}


section h3 {
	margin-top: 1em;
	margin: 0;
}


footer {
	flex: 1 0 100%;
	border-top: 0.5px solid black;
	padding-top: .5em;
}


h2, h3 {
		margin-top: 2em;
		margin-bottom: none;
	}


ol {
	padding-left: 0;
}

a {
	text-decoration: none;
	color: black;
	}